{% extends "Frontend/layout.html" %}
{% load static %}

{% block content %}

<div class="register">

    <div class="registerTitle">  
        <label for=""><img width="80px" height="80px"  src="{% static 'vdo/update.gif' %}" alt=""><h3><small class="text-muted">UPDATE NEW FILE VERSION</small></h3></label> 
    </div>

    <div class="contrainer">
        {% for solar in SolarRoofTop %}
        <form action="{% url 'UpdateFileVersion_insert' solar.id %}" method="post" enctype="multipart/form-data" > 
            {% csrf_token %}      
            <div class="input-group mb-3"> 
                <input class="form-control" type="file" name="UserFile" required > 
                <button type="submit" class="btn btn-outline-success" >Upload New File Version</button>
            </div>   
        </form>
        {% endfor %}
    </div>

    

    {% for solar in SolarRoofTop %}
    <div class="contrainer">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Document Version</th>
                    <th>Location and File Name</th>    
                    <th>Action</th>             
                </tr>
            </thead>

            <tr>
                <td><h6>File Version 1</h6></td>
                <td>{{solar.file}}</td>
                {% if solar.file != "-" %}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{solar.file.url}}" class="btn btn-outline-dark"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><img width="23px" height="23px"  src="{% static 'vdo/download.png/' %}" alt=""></a>
                    </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>

            <tr>
                <td><h6>File Version 2</h6></td>
                <td>{{solar.File_Version2}}</td>
                {% if solar.File_Version2 != "-" %}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{solar.File_Version2.url}}" class="btn btn-outline-dark"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><img width="23px" height="23px"  src="{% static 'vdo/download.png/' %}" alt=""></a>
                        <a href="{% url 'DeleteSolarFile_Version2' solar.id %}" class="btn btn-outline-dark"  onclick="return confirm('Do yo want to delete ?')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><img width="23px" height="23px"  src="{% static 'vdo/trash.png/' %}" alt=""></a>
                    </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            <tr>
                <td><h6>File Version 3</h6></td>
                <td>{{solar.File_Version3}}</td>
                {% if solar.File_Version3 != "-" %}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{solar.File_Version3.url}}" class="btn btn-outline-dark"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><img width="23px" height="23px"  src="{% static 'vdo/download.png/' %}" alt=""></a>
                        <a href="{% url 'DeleteSolarFile_Version3' solar.id %}" class="btn btn-outline-dark"  onclick="return confirm('Do yo want to delete ?')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><img width="23px" height="23px"  src="{% static 'vdo/trash.png/' %}" alt=""></a>
                    </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}

            </tr>
            <tr>
                <td><h6>File Version 4</h6></td>
                <td>{{solar.File_Version4}}</td>
                {% if solar.File_Version4 != "-" %}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{solar.File_Version4.url}}" class="btn btn-outline-dark"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><img width="23px" height="23px"  src="{% static 'vdo/download.png/' %}" alt=""></a>
                        <a href="{% url 'DeleteSolarFile_Version4' solar.id %}" class="btn btn-outline-dark"  onclick="return confirm('Do yo want to delete ?')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><img width="23px" height="23px"  src="{% static 'vdo/trash.png/' %}" alt=""></a>
                    </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            <tr>
                <td><h6>File Version 5</h6></td>
                <td>{{solar.File_Version5}}</td>
                {% if solar.File_Version5 != "-" %}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{solar.File_Version5.url}}" class="btn btn-outline-dark"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><img width="23px" height="23px"  src="{% static 'vdo/download.png/' %}" alt=""></a>
                        <a href="{% url 'DeleteSolarFile_Version5' solar.id %}" class="btn btn-outline-dark"  onclick="return confirm('Do yo want to delete ?')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><img width="23px" height="23px"  src="{% static 'vdo/trash.png/' %}" alt=""></a>
                    </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>

            <tbody>             
            </tbody>
        </table>
    </div>
    {% endfor %}

</div>

{% endblock content %}